/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color-first : #825E4B;
  --main-color-second : #FFF0BF;
  --main-color-thared : #BFA03C;
  --main-transition:0.3s;
  --main-padding-top:100px;
  --main-padding-bottom:100px;
  --section-background:#;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "cairo",sans-serif;padding: 0;margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style:none ;margin: 0;padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width:768px){
  .container {width: 750px;}
}
/* Medium */
@media (min-width:992px){
  .container {width: 970px;}
}
/* Large */
@media (min-width:1200px){
  .container {width: 1170px;}
}
.main-heading {margin: 20px auto;text-align: center;position: relative;top: -85px;z-index: 1;width: fit-content;font-size: 30px;}
.main-heading::before { content: ""; position: absolute; background:url(../images/Group\ 317.png); width: 33px; height: 12px; top:50%; right: -40px; transform:translateY(-50%); -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); -o-transform:translateY(-50%); }
.main-heading::after  { content: ""; position: absolute; background:url(../images/Group\ 318.png); width: 33px; height: 12px; top:50%; left: -40px; transform:translateY(-50%); -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); -o-transform:translateY(-50%); }
/* start header */
header {position: absolute;left: px;z-index: 1;top: 10px;width: 100%;direction: ltr;}
header .container { min-height: 94px;position: relative;padding: 5px; display: flex; justify-content: space-between; align-items: center; background-color:#fff0bfdb; border-radius:6px ; -webkit-border-radius:; -moz-border-radius:; -ms-border-radius:; -o-border-radius:; }
header .container img {width: 70px;}
header .container nav {flex: 1;display: flex;justify-content: flex-end;align-items: center;}
header .container nav .toggel-menu {display:none ;color: var(--main-color-first);font-size: 30px;}
@media (max-width:992px){header .container nav .toggel-menu {display: flex;}}
header .container nav ul {display: flex;}
@media (max-width:992px){header .container nav ul {display: none;}
header .container nav .toggel-menu:hover + ul {display: flex;position: absolute;top: 100%;width: 50%;right: 0;background:rgba(0 0 0 / 70%);justify-content: right;align-items: flex-end;direction: rtl;padding: 12px;border-radius: 0 0 6px 6px;}
header .container nav .toggel-menu:hover + ul li a {display: flex;padding: 15px;color: var(--main-color-second);}}
header .container nav .toggel-menu:hover + ul li a:hover {color: var(--main-color-thared);}
header .container nav ul li a {font-size: 17px;font-weight: 900;color: var(--main-color-first);padding: 10px;}
header .container nav ul li a:hover {color: var(--main-color-thared);}
/* end header */

/* start landing */
.landing {direction: rtl;position: relative;height: 100vh;background: url(../images/landing.png);background-size: cover;top: 0;left: 0;}
.landing::before {content: "";position: absolute;left: 0;top: 0;width: 100%;height: 100%;background-color:rgba(0 0 0 / 70%);}
.landing .text { border-radius: 6px 0 0 6px; position: relative; display: flex; justify-content: flex-end; top: 50%; background-color:#fff0bfbd; padding: 50px; width: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); -webkit-border-radius: 6px 0 0 6px; -moz-border-radius: 6px 0 0 6px; -ms-border-radius: 6px 0 0 6px; -o-border-radius: 6px 0 0 6px; }
@media (max-width:767px){ .landing .text {width: 100%;justify-content: center;}}
.landing .text .fo { max-width: 500px;text-align: center;}
.landing .text .fo h2 {position: relative;font-size: 22px;}
@media (max-width:767px){ .landing .text .fo h2 {font-size: 18px;}}
.landing .text .fo h2::before {content: ""; position: absolute;background:url(../images/Group\ 317.png);width: 33px;height: 12px;top: 20px;right: -40px;}
.landing .text .fo h2::after  {content: ""; position: absolute;background:url(../images/Group\ 318.png);width: 33px;height: 12px;top: 20px;left: -40px;}
@media (max-width:767px){.landing .text .fo h2::before {right: -15px;} .landing .text .fo h2::after {left: -15px;}}

.landing .text .fo img {width: 200px;margin: 0 auto;}
/* end landing */

/* Start us */
.us {padding-top: var(--main-padding-top);padding-bottom: var(--main-padding-bottom);position: relative;background-color: var(--main-color-second);background-size: contain;}
.us::before {content: "";position: absolute;background: url(../images/mash.png);width: 100%;height: 320px;bottom: 0;left: 0;}
.us .main-heading {color: var(--main-color-first);}
.us .container {position: relative;}
.us .container .info {text-align: center;}
.us .container .info .text {}
.us .container .info .text h3 {font-size: 30px;color: var(--main-color-first);margin: 0;}
.us .container .info .text p span {text-align: center;display: block;margin-top: 30px;color: var(--main-color-first);}
.us .container .info .text p {line-height: 1.7;font-size: 20px;color: var(--main-color-first);font-weight: 900;text-align: justify;}
.us .container .info .text p img {width: 200px;position: absolute;left: 50px;top: 238px;transform: rotate(45deg);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);}
@media (max-width:991px){.us .container .info .text p img {top: 436px;left: 81px;}}
@media (max-width:767px){.us .container .info .text p img {top: 925px;left: 73px;}}
/* End us */
/* Start whate */
.whate {padding-top: var(--main-padding-top);padding-bottom: var(--main-padding-bottom);position: relative;background-color: var(--main-color-first);background-size: cover;color: var(--main-color-second);}
.whate::before {content: "";position: absolute;background: url(../images/mash2.png);width: 100%;height: 320px;bottom: 0;left: 0;}
.whate .container .text {}
.whate .container .text ul {list-style-image: url(../images/Group\ 317.png);}
.whate .container .text ul li h3 {}
.whate .container .text ul li {flex-direction: column;color: var(--main-color-second);font-weight: 600;}
/* End whate */

/* start animation */

/* End animation */
